# file name: /etc/systemd/system/jmeter-server.service

[Unit]
Description=JMeter Server 1, port 8099

[Service]
Environment="SERVER_PORT=8099"
User=jmeter
WorkingDirectory=/opt/jmeter
ExecStart=/opt/jmeter/bin/jmeter-server -Jserver.rmi.ssl.disable=true 
SuccessExitStatus=143
TimeoutStopSec=15
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target